# Project exclude paths
/node_modules/
.idea/modules.xml
.idea/.gitignore
.idea/mySQLFullStack.iml
.idea/vagrant.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/sqldialects.xml
