<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="books">Books</a>
    <a href="crimes">Crimes</a>
    <a href="users">Users</a>
    <a href="members">Members</a>
    <a href="/ward.html">Ward Map</a>
  </body>
</html>
